* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom right, #6a0dad, #d36ad6);
  color: white;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #4b0082;
  padding: 15px 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

nav li {
  margin: 0 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #ffc0ff;
}

section {
  padding: 100px 20px 60px;
  max-width: 800px;
  margin: auto;
}



.evento-img {
  
  width: 100%;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  display: block;
border-radius: 20px;
}

h2 {
  font-family: 'Great Vibes', cursive;
  font-size: 36px;
  text-align: center;
  margin-bottom: 10px;
  color: #fff0f5;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px #fff;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

form input, form button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  border-radius: 6px;
  font-size: 16px;
  border: none;
}

form button {
  background-color: #ff69b4;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.card {
  background: #6a0dad;
  border: 2px solid #ffc0ff;
  border-radius: 10px;
  margin-top: 30px;
  padding: 20px;
  color: white;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ffc0ff;
}

.card-body h3 {
  font-size: 24px;
  margin: 10px 0;
  font-family: 'Playfair Display', serif;
}

.confirmado {
  color: #90ee90;
  font-weight: bold;
  margin-top: 10px;
}

.versiculo {
  font-style: italic;
  margin-top: 5px;
  font-size: 14px;
}

#download-btn {
  margin-top: 20px;
  padding: 12px;
  background-color: #90ee90;
  border: none;
  border-radius: 6px;
  color: #333;
  font-size: 16px;
  cursor: pointer;
}



